.gameResultContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255, 0.85 );
}

.gameResult {
    box-shadow: 7px 7px 14px 0 rgba(0,0,0,0.8);
    width: 60%;
    height: 60%;
    background-color: #fff;
    border-radius: 8px;
}

.tabs {
    display: flex;
    height: 32px;
    background-color: #fafafa;
    border-bottom: 1px solid #ddd;
}

.tab {
    padding: 4px 12px;
    display: flex;
    align-items: center;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
    color: #777;
    cursor: pointer;
}

.tab:hover{
    background-color: rgba(0,0,0,0.1);

}