.gameResultContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255, 0.85 );
}

.date {
    background: #aad3e6;
    padding: 8px;
    display: flex;
    color: white;
    justify-content: center;
}
.gameResult {
    box-shadow: 7px 7px 14px 0 rgba(0,0,0,0.8);
    width: 420px;
    height: 430px;
    background-color: #fff;
    border-radius: 8px;
}

.tabs {
    display: flex;
    height: 32px;
    background-color: #fafafa;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.tab {
    padding: 4px 12px;
    display: flex;
    align-items: center;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
    color: #777;
    cursor: pointer;
}

.tab.active {
    border-bottom: 1px solid rgb(65, 103, 218); 
    color: black;
}

.tab:hover{
    background-color: rgba(0,0,0,0.1);

}

.logosAndResult {
    display: flex;
    align-items: center;
    padding: 16px;

}

.logosAndResult h1 {
    margin: 16px;
    font-weight: 400;
    white-space: nowrap;
}

.logosAndResult h2 {
    margin: 16px;
    font-weight: 300;
}